
body{
    background-color: blueviolet;
    color: beige;
}

h1{ 
    font-size: 22px;
    font-family: Arial;

}

.ramen{
    border-style: groove;
    border-width: 10px;
    border-color: green;
}

.program{
    text-align: center;
    background-color: red;
}

.höger{
    text-align: right;
}

.länk{
    text-decoration: none;
}
