
body{
    display: grid  ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4em 30em auto;
    grid-template-areas: 
    'header header'
    'main1 main2'
    'footer footer';
    background-color: beige;
    color: darkred;
}

/* Grid layout */
header{
    grid-area: header;
}

img{
    width: 50%;
}

section{
    grid-area: main1;
}
aside{
    grid-area: main2;
}

footer{
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "table1 table2";
}
footer table:nth-child(1){
    grid-area: table1;

}
footer table:nth-child(2){
    grid-area: table2;

}



h1{ 
    font-size: 22px;
    font-family: Arial;

}

.ramen{
    border-style: groove;
    border-width: 10px;
    border-color: green;
}

.program{
    text-align: center;
    background-color: red;
}

.höger{
    text-align: right;
}

.länk{
    text-decoration: none;
    
}

table, tr, td, th {
    border-color: black ;
    border-width: 2px;
    border-style: solid;
    border-collapse: collapse;
    font-size: 30px;
    font-family: '' ;
}

/* Första tabelupgiften */
tr:nth-child(2), tr:nth-child(4){

    background-color: lime;
}
tr:nth-child(3), tr:nth-child(5){

    background-color: brown;
}
footer td:nth-child(2), td:nth-child(3), td:nth-child(6), td:nth-child(7), td:nth-child(10), td:nth-child(11){
    text-align: center;
}
footer td:nth-child(4), td:nth-child(8), td:nth-child(12){
    text-align: right;
}
footer th:nth-child(1){
    text-align: left;
}



/* CSS för färggladd tabel */
table:nth-child(2) td{
    width: 10vw;
    height: 15vh;
}
.blueclass{ 
    background-color: blue;
    
}
.redclass{
    background-color: red;
}
.limeclass{
    background-color: lime;


}
.blackclass{
    background-color: black;

}
.yellowclass{
    background-color: yellow;

}


